<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joinx.salary.repository.SalaryRateMapper">
  <resultMap id="BaseResultMap" type="com.joinx.salary.pojo.SalaryRate">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="endowment_insurance_rate" jdbcType="DOUBLE" property="endowmentInsuranceRate" />
    <result column="mdeicare_rate" jdbcType="DOUBLE" property="mdeicareRate" />
    <result column="unemployment_rate" jdbcType="DOUBLE" property="unemploymentRate" />
    <result column="injury_insurance_rate" jdbcType="DOUBLE" property="injuryInsuranceRate" />
    <result column="rear_insurance_rate" jdbcType="DOUBLE" property="rearInsuranceRate" />
    <result column="reserved_fund_rate" jdbcType="DOUBLE" property="reservedFundRate" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>
  <sql id="Base_Column_List">
    id, endowment_insurance_rate, mdeicare_rate, unemployment_rate, injury_insurance_rate, 
    rear_insurance_rate, reserved_fund_rate, description
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from salary_rate
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from salary_rate
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.joinx.salary.pojo.SalaryRate" useGeneratedKeys="true">
    insert into salary_rate (endowment_insurance_rate, mdeicare_rate, 
      unemployment_rate, injury_insurance_rate, rear_insurance_rate, 
      reserved_fund_rate, description)
    values (#{endowmentInsuranceRate,jdbcType=DOUBLE}, #{mdeicareRate,jdbcType=DOUBLE}, 
      #{unemploymentRate,jdbcType=DOUBLE}, #{injuryInsuranceRate,jdbcType=DOUBLE}, #{rearInsuranceRate,jdbcType=DOUBLE}, 
      #{reservedFundRate,jdbcType=DOUBLE}, #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.joinx.salary.pojo.SalaryRate" useGeneratedKeys="true">
    insert into salary_rate
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="endowmentInsuranceRate != null">
        endowment_insurance_rate,
      </if>
      <if test="mdeicareRate != null">
        mdeicare_rate,
      </if>
      <if test="unemploymentRate != null">
        unemployment_rate,
      </if>
      <if test="injuryInsuranceRate != null">
        injury_insurance_rate,
      </if>
      <if test="rearInsuranceRate != null">
        rear_insurance_rate,
      </if>
      <if test="reservedFundRate != null">
        reserved_fund_rate,
      </if>
      <if test="description != null">
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="endowmentInsuranceRate != null">
        #{endowmentInsuranceRate,jdbcType=DOUBLE},
      </if>
      <if test="mdeicareRate != null">
        #{mdeicareRate,jdbcType=DOUBLE},
      </if>
      <if test="unemploymentRate != null">
        #{unemploymentRate,jdbcType=DOUBLE},
      </if>
      <if test="injuryInsuranceRate != null">
        #{injuryInsuranceRate,jdbcType=DOUBLE},
      </if>
      <if test="rearInsuranceRate != null">
        #{rearInsuranceRate,jdbcType=DOUBLE},
      </if>
      <if test="reservedFundRate != null">
        #{reservedFundRate,jdbcType=DOUBLE},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <select id="list" resultMap="BaseResultMap">
    select * from salary_rate;
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.joinx.salary.pojo.SalaryRate">
    update salary_rate
    <set>
      <if test="endowmentInsuranceRate != null">
        endowment_insurance_rate = #{endowmentInsuranceRate,jdbcType=DOUBLE},
      </if>
      <if test="mdeicareRate != null">
        mdeicare_rate = #{mdeicareRate,jdbcType=DOUBLE},
      </if>
      <if test="unemploymentRate != null">
        unemployment_rate = #{unemploymentRate,jdbcType=DOUBLE},
      </if>
      <if test="injuryInsuranceRate != null">
        injury_insurance_rate = #{injuryInsuranceRate,jdbcType=DOUBLE},
      </if>
      <if test="rearInsuranceRate != null">
        rear_insurance_rate = #{rearInsuranceRate,jdbcType=DOUBLE},
      </if>
      <if test="reservedFundRate != null">
        reserved_fund_rate = #{reservedFundRate,jdbcType=DOUBLE},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.joinx.salary.pojo.SalaryRate">
    update salary_rate
    set endowment_insurance_rate = #{endowmentInsuranceRate,jdbcType=DOUBLE},
      mdeicare_rate = #{mdeicareRate,jdbcType=DOUBLE},
      unemployment_rate = #{unemploymentRate,jdbcType=DOUBLE},
      injury_insurance_rate = #{injuryInsuranceRate,jdbcType=DOUBLE},
      rear_insurance_rate = #{rearInsuranceRate,jdbcType=DOUBLE},
      reserved_fund_rate = #{reservedFundRate,jdbcType=DOUBLE},
      description = #{description,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>